# Super large data files
implementation/java/input/*

# LaTeX temp files
*.4tc
*.4ct
*.xref
*.acn
*.acr
*.alg
*.aux
*.aut
*.bak
*.bbl
*.bcf
*.blg
*.bib~
*.bix
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idv
*.idx
*.ilg
*.ist
*.ind
*.kilepr
*.lg
*.lof
*.log
*.lot
*.lol
*.nav
*.nlo
*.out
*.pdf
*.ps
*.prj
*.sav
*.snm
*.spl
*.synctex.gz
*.synctex.gz(busy)
*.tcp
*.tps
*.tex~
*.toc
*.glsdefs
*.loa

# Except old versions
!*/oude_versies/*.pdf

# Visio temp files
*.~vdx

# Excel temp files
~$*.xlsx

# R temp files
.Rdata
.Rhistory

# IntelliJ IDEA temp files
implementation/java/.idea
implementation/java/out
*.iml
*.iws

# IntelliJ project temp files
implementation/java/src/META-INF/*

# RankLib 2.1 code
implementation/RankLib-2.1/*