# LaTeX temp files
*.4tc
*.4ct
*.xref
*.acn
*.acr
*.alg
*.aux
*.aut
*.bak
*.bbl
*.bcf
*.blg
*.bib~
*.bix
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idv
*.idx
*.ilg
*.ist
*.ind
*.kilepr
*.lg
*.lof
*.log
*.lot
*.lol
*.nav
*.nlo
*.out
*.pdf
*.ps
*.prj
*.sav
*.snm
*.synctex.gz
*.tcp
*.tps
*.tex~
*.toc

# Except old versions
!*/oude_versies/*.pdf

# Visio temp files
*.~vdx










