# LaTeX temp files
*.4tc
*.4ct
*.xref
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.idv
*.ind
*.lof
*.lot
*.lg
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.ps
*.bcf
*.fdb_latexmk
*.fls
*.lol
